.bank_container {
    height: 0px;
    opacity: 0;
    width: 450px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: #000;
    border-radius: 15px;
    animation-name: appear_h350;
    animation-duration: 0.85s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
 }
 .bank_container h1 {
     text-align: center;
     width: 100%;
     margin-bottom: 25px;
     margin-top: 25px;
 }
 .bank_container div {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 100px;
     padding-right: 100px;
     width: 100%;
     margin-bottom: 25px;
 }
 .bank_container div label {
     font-size: 22px;
     font-weight: bold;
 }
 .bank_container input[type='text'], .bank_container select {
     color: rgb(255, 251, 251);
     font-size: 21px;
     font-weight: bold;
     padding-left: 5px;
     height: 30px;
     width: 120px;
     background-color: rgba(3, 3, 0, 0.6);
     border-radius: 5px;
 }
.bank_container input[type=submit], .bank_container input[type=button] {
    height: 80px;
    width: 80px;
    font-size: 20px;
    border-radius: 100%;
    color: rgb(233, 223, 223);
    border-style: none;
    background-color: rgb(78, 68, 68);
    transition: all 0.35s ease-in-out;
    margin: 0;
 }
 .button_container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 0;
 }
 .bank_container input[type=submit]:hover, .bank_container input[type=button]:hover {
    transform: scale(1.05);
 }
 
 .bank_container .scroll_position_holder {
    position: relative;
    top: -25vh;
}

@keyframes appear_h350 {
    from {
       height: 0;
       opacity: 0;
    }
    to {
       height: 350px;
       opacity: 1;
    }
}