.register_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 0px;
    z-index: 999;
    /* width: 450px; */
    opacity: 0;
    background-color: rgba(5, 1, 1, 0.507);
    border-radius: 15px;
    animation-name: appear_h530;
    animation-duration: 0.85s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    overflow-y: auto;
 }
 .register_container h1 {
     text-align: center;
     width: 100%;
     margin-bottom: 25px;
     margin-top: 25px;
 }
 .register_container div {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding-left: 100px;
     padding-right: 100px;
     width: 100%;
     margin-bottom: 25px;
 }
 .register_container div label {
     font-size: 25px;
     margin-right: 25px;
 }
 .register_container input[type='text'], 
 .register_container input[type='password']
  {
     color: rgb(0, 0, 0);
     font-size: 25px;
     padding: 5px;
     height: 40px;
     font-weight: bold;
     width: 250px;
     background-color: rgb(233, 233, 216);
     border-radius: 5px;
 }
 .register_container input[type=radio] {
     height: 35px;
     width: 35px;
 }
 .register_container input[type=submit], 
 .register_container input[type=button]  {
    height: 80px;
    width: 80px;
    font-size: 20px;
    border-radius: 100%;
    color: rgb(233, 223, 223);
    border-style: none;
    background-color: rgb(78, 68, 68);
    transition: all 0.35s ease-in-out;
    margin: 0;
 }
 .register_container .button_container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin-bottom: 25px;
 }
 .register_container input[type=submit]:hover, .register_container input[type=button]:hover {
     transform: translateY(2.5px);
     color: rgb(207, 195, 195);
 }
 .register_container .scroll_position_holder {
     position: relative;
     top: -25vh;
 }

 @keyframes appear_h530 {
     from {
        height: 0;
        opacity: 0;
     }
     to {
        height: 530px;
        opacity: 1;
     }
 }