footer {
	bottom: 0;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.534);
	color: rgb(238, 253, 255);
	width: 80%;
	margin-top: 25px;
	margin-left: 120px;
	border: 2px double pink;
}
footer h1{
	font-size: 20px;
	margin: 0;
	text-align: center;
	color: rgb(238, 253, 255);
	padding: 24px 0;
	letter-spacing: 2px;
	background: transparent;
}