.register_container {
    height: 0px;
    width: 450px;
    opacity: 0;
    background-color: rgba(5, 1, 1, 0.507);
    border-radius: 15px;
    animation-name: appear_h530;
    animation-duration: 0.85s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
 }
 .register_container h1 {
     text-align: center;
     width: 100%;
     margin-bottom: 25px;
     margin-top: 25px;
 }
 .register_container div {
     padding-left: 100px;
     padding-right: 100px;
     width: 100%;
     margin-bottom: 25px;
 }
 .register_container div label {
     font-size: 30px;
 }
 .register_container input[type='text'], 
 .register_container input[type='password']
  {
     color: rgb(255, 255, 255);
     font-size: 25px;
     padding: 5px;
     height: 40px;
     width: 250px;
     background-color: rgba(233, 233, 216, 0.6);
     border-radius: 5px;
 }
 .register_container input[type=submit], 
 .register_container input[type=button]  {
     height: 80px;
     width: 80px;
     font-size: 15px;
     border-radius: 100%;
     color: rgb(252, 252, 252);
     border-style: none;
     background-color: black;
     transition: all 0.35s ease-in-out;
     margin: 0;
 }
 .register_container .button_container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 0;
 }
 .register_container input[type=submit]:hover, .register_container input[type=button]:hover {
     transform: translateY(2.5px);
     color: rgb(207, 195, 195);
 }
 .register_container .scroll_position_holder {
     position: relative;
     top: -25vh;
 }

 @keyframes appear_h530 {
     from {
        height: 0;
        opacity: 0;
     }
     to {
        height: 530px;
        opacity: 1;
     }
 }