.card_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
}

.card_page .card_header {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	margin: 0;
	width: 100%;
	text-align: left;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6;
	font-size: 30px;
	padding-left: 8vh;
	letter-spacing: 2px;
	/* border-top: 5px double rgba(59, 30, 30, 0.486); */
	/* border-bottom: 5px double rgba(59, 30, 30, 0.486); */
	/* background-color: rgba(36, 12, 12, 0.507); */
	background-color: rgb(16, 83, 100);
	/* background-color: rgba(5, 0, 0, 0.507); */
	padding-bottom: 10px;
	padding-top: 10px;
	color: #fafffe;
}
.card_page .card_menu_button {
	position: relative;
	height: 50px;
    width: 50px;
    font-size: 20px;
	color: transparent;
	background-size: contain;
    border-radius: 5px;
    border-style: none;
    transition: all 0.35s ease-in-out;
    margin-right: 20px;
}
.refresh_button {
	/* right: 44vh; */
	background: url("../../assets/imgs/refresh.png") no-repeat top left;
}
.add_button {
	position: absolute !important;
	right: 18vh;
	/* right: 33vh; */
	background: url("../../assets/imgs/plus.png") no-repeat top left;
}
.refresh_button_user {
	/* right: 31vh; */
	background: url("../../assets/imgs/refresh.png") no-repeat top left;
}

.card_page form {
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: absolute; */
	/* right: 42vh; */
}
.card_page form input[type=text] {
	position: relative;
	padding-left: 2vh;
	height: 50px;
    width: 170px;
	background-color: rgba(255, 252, 247, 0.555);
	margin: 0;
    font-size: 20px;
	border-style: none;
    color: rgb(7, 7, 7);
	transition: all 0.4s ease-in-out;
}
.card_page form input[type=text]:focus {
	background-color: rgb(248, 245, 240);
	border-bottom: rgb(130, 207, 243) 5px solid;
}
.card_page form input[type=submit] {
	position: relative;
	height: 50px;
    width: 50px;
	margin-left: 20px;
	margin-right: 20px;
	border-style:none;
	color: transparent;
	background: url("../../assets/imgs/magnifying-glass.png") no-repeat top left;
	background-size: contain;
	transition: all 0.2s ease-out;
}

.card_page form input[type=submit]:hover {
	transform: scale(1.15);
}
.card_page .card_menu_button:hover {
	transform: scale(1.15);
}
.card_container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	color: rgb(255, 254, 254);
	/* background-color: rgba(87, 56, 56, 0.986); */
	/* background-color: rgba(0, 0, 0, 0.041); */
	/* border-bottom: 5px double rgba(59, 30, 30, 0.486); */
}