.selection_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(87, 56, 56, 0.986);
  height: 100%;
  width: 80%;
  margin-left: 121px;
  margin-top: 25px;
	margin-bottom: 25px;
  font-family: Overall;
}

.selection_container .box {
  position: relative;
  /* font-family: Overall; */
  width: 300px;
  height: 460px;
  text-align: center;
  background:  rgb(131, 91, 91);
  margin: 25px;
  cursor: pointer;
  border: transparent;
  box-shadow: inset 0 0 0 3px #2c3e50;
  transition: all 0.2s 0.3s linear;
  user-select: none;
  overflow: hidden;
}

.selection_container .box::after {
  content: '';
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(242, 243, 242, 0.541) 25%, rgba(233, 252, 237, 0.664) 50%,rgba(250, 250, 250, 0.541) 75%,rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}
.selection_container .box:hover {
  background: rgba(255, 255, 255, 0);
  transform: scale(1.05);
  transition-delay: 0s;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
}
.selection_container .box:hover::after{
  background: transparent;
}
.selection_container .box h3 {
  font-size: 40px;
  margin: 0;
  font-weight: 40px;
  width: 100%;
}

.selection_container .box span {
  display: block;
  font-weight: 50px;
  letter-spacing: 1px;
  font-size: 25px;
  padding: 0px;
}

.selection_container .box h3,
.selection_container .box span {
  transition: color 0.2s 0.3s;
}

.selection_container .box:hover h3,
.selection_container .box:hover span {
  color: #fff;
  transition-delay: 0s;
}

.selection_container .box svg {
  position: absolute;
  top: 0;
  left: 0;
}

.selection_container .box svg line {
  stroke-width: 3;
  stroke: #ecf0f1;
  fill: none;
  transition: all .8s ease-in-out;
}

.selection_container .box:hover svg line {
  transition-delay: 0.1s;
}

.selection_container .box svg line.top,
.selection_container .box svg line.bottom {
  stroke-dasharray: 330 240;
}

.selection_container .box svg line.left,
.selection_container .box svg line.right {
  stroke-dasharray: 490 400;
}

.selection_container .box:hover svg line.top {
  transform: translateX(-600px);
}

.selection_container .box:hover svg line.bottom {
  transform: translateX(600px);
}

.selection_container .box:hover svg line.left {
  transform: translateY(920px);
}

.selection_container .box:hover svg line.right {
  transform: translateY(-920px);
}
@keyframes slide {
  0% {
    transform: translateX(-150%);
  }
  40% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(300%);
  }
}
